

    <% if params[:category].blank? %>
    <% else %>
      <h1 class="current-category">Current category is : <i><%= params[:category] %></i></h1>  
    <% end %>
<h1 align="center">Article Recommandation</h1>
<hr>
       <div class="row">
          <div class="col-md-4">
            <h2>Top 3 ranking articles</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,  </p>
            <p><a class="btn btn-secondary" href="/articles/3" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Top 3 ranking articles</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac  </p>
            <p><a class="btn btn-secondary" href="/articles/5" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Top 3 ranking articles</h2>
            <p> ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="/articles/2" role="button">View details &raquo;</a></p>
          </div>
        </div>

<hr>

<br>

<h1 align="center">Article List</h1>

<hr>

<table border="5" align="center">
	<tr>
		<th>Article title</th>
		<th>Author</th>
		<th>Article Image</th>
    <th>User_id</th>
    <th>Category</th>
	</tr>
	<% @article.each do |article| %>
	<tr>
		<td>		<%= link_to "#{article.title}" , article_path(article.id) %></td>
		<td>		<%= article.author %></td>

		<td>	 <a href="/articles/ <%= article.id %>">
              <%= image_tag article.article_img.url(:article_index , class: "article") %>
          </a> 	
    </td>

    <td>    <%= article.user_id %></td>
    <td>    <%= article.category.name %></td>
	</tr>
	<% end %>
</table>
<br>
<hr>

<% if user_signed_in? %>
      <h3><u>   <%= link_to "Add a new article" , new_article_path %></u></h3>
<% end %>

		
